.services{
    padding: 0 10%;
    margin-bottom: 100px;

    &__title {
        font-family: var(--montserrat);
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 80px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        margin: 0 auto;
    }
}

.service-card {
  background: white;
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;

  &:hover {
    transform: translateY(-5px);
  }

  &__image {
    width: auto;
    height: 100%;
    overflow: hidden;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }

    .service-card:hover & img {
      transform: scale(1.05);
    }
  }

  &__content {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-grow: 1;
  }

  &__title {
    font-size: 30px;
    color: #000;
    font-weight: 500;
    margin-bottom: 0.5rem;
    line-height: 1.3;
  }

  &__price {
    font-size: 25px;
    font-weight: 300;
    color: #000;
    letter-spacing: 3px;
    margin-bottom: 1.5rem;
  }
  &__link{
    width: 100%;
  }
  &__cta-button {
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: center;
        padding: 1rem 2.5rem;
        border: 4px solid #000;
        background-color: #ffffff00;
        color: #000;
        letter-spacing: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        z-index: 2;

        background-image: url("/btn-triangle-bl.png");
        background-repeat: no-repeat;
        background-position: bottom 10px right 10px;
        background-size: 15px 15px;

        &:hover {
            // transform: scale(1.05);
            background-position: bottom 5px right 5px;
        }

        &:active {
            transform: scale(0.98);
        }
    }

    &__cta-text {
        font-family: var(--montserrat);
        font-size: clamp(1.2rem, 2vw, 27px); // Адаптивный размер
        font-weight: 300;
    }
}

@media (max-width:1000px) {
    .services{
        padding: 0 5%;
    }
}
@media (max-width:768px) {
    .services{
        margin-bottom: 50px;
    }
    .services__title{
        font-size: 35px;
        margin-bottom: 30px;
    }
}

@media (max-width:450px) {
    .service-card {
        &__title {
            font-size: 30px !important;

        }

        &__price {
            font-size: 25px;
            font-weight: 300;
            color: #000;
            letter-spacing: 3px;
            margin-bottom: 1.5rem;
        }
    }
}

@media (min-width:1200px) {
    .services__grid{
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }
}