.header {
  position: absolute;
  top: 10;
  left: 0;
  width: 100%;
  z-index: 1000;

  padding: 1rem 0;

  &__grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding: 0 10%;
    margin: 0 auto;

  }

  &__logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
  }

  &__nav {
    font-size: 22px;
    display: flex;
    justify-content: center;
    gap: 4rem;

    &-link {
      color: white;
      text-decoration: none;
      
      font-weight: 400;
      transition: all 0.3s ease;
      position: relative;

      &:hover {
        opacity: 0.8;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 1px;
        background: white;
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  &__phone {
    color: white;
    font-size: 22px;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    transition: all 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }

        &:active {
            transform: scale(0.98);
        }
  }
}
@media (max-width: 1350px) {
    .header{
        &__nav{
            gap:2.5rem;
            font-size: 18px;
        }
        &__phone{
            font-size: 18px;
        }
    }
}

@media (max-width: 1000px) {
    .header{
        &__grid{
            padding: 0 5%;
        }
    }
}

@media (max-width: 768px) {
  .header {
    .header__phone{
      margin-bottom: 10px;
    }

    &__nav{
        gap:2.5rem;
        font-size: 18px;
        margin-bottom: 20px;
    }

    &__grid {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
    }

    &__logo {
      display: none;
    }

    &__phone {
      grid-column: 1;
      text-align: center;
      grid-row: 3;
    }

    &__nav {
      grid-column: 1;
      grid-row: 2;
    }
  }
}

@media (max-width: 460px) {
  .header {
    
    &__nav{
        gap:2rem;
        font-size: 14px;
        margin-bottom: 20px;
    }
  }
}