.reviews{
    margin-bottom: 100px;
    padding: 0 10%;
    .reviews-link{
        font-size: 20px;
        padding: 0 15%;
        a{
            color: #EAE616;
        }
        a:hover{
            color: #000;
        }
    }
    &__title{
        font-family: var(--montserrat);
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 80px;
    }
    // .swiper-button-prev-new, .swiper-button-next-new{
    //     position: absolute;
    //     width: 45px;
    //     height: 45px;
    //     border-radius: 40px;
    //     background-color: hsla(174, 6%, 35%, 0.65);
    //     border: none;
    //     top: calc(50% - 3vh);
    //     z-index: 1;
    // }
    // .swiper-button-prev-new{
    //     left: -6%;
    // }
    // .swiper-button-next-new{
    //     right: -6%;
    // }
    // .swiper-button-prev-new:after{
    //     content: 'prev';
    // }
    // .swiper-button-next-new:after{
    //     content: 'next';
    // }
    .swiper-button-prev-new:after, .swiper-button-next-new:after{
        font-family: swiper-icons;
        text-transform: none !important;
        letter-spacing: 0;
        //font-feature-settings: ;
        font-variant: initial;
        font-size: 18px;
        font-weight: 600;
        color: white;
    }
    .swiper-button-prev-new.swiper-button-disabled, .swiper-button-next-new.swiper-button-disabled {
        opacity: 0.35;
        cursor: auto;
        pointer-events: none;
    }
    .reviews-slider{
        overflow: visible;
        .swiper-slide{
            border: 1px solid #000;
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 30px;
            background-color: white;
            width: 450px;
            height: 300px;
            .profile{
                display: flex;
                flex-direction: row;
                gap: 15px;
                .rank{
                    display: flex;
                    flex-direction: column;
                    .star{
                        display: flex;
                        flex-direction: row;
                    }
                    svg{
                        width: 20px;
                        height: auto;
                        path{
                            fill: #EAE616;
                        }
                    }
                    .name{
                        letter-spacing: 3px;
                        font-size: 24px;
                    }
                    p{
                        letter-spacing: 3px;
                        font-size: 17px;
                    }
                }
            }
            .review{
                padding: 10px;
                font-size: 20px;
                letter-spacing: 3px;
            }
        }
    }
}

@media screen and (max-width: 1785px){
    .reviews{
        .reviews-link{
            font-size: 20px;
            padding: 0 10%;
            a{
                color: #EAE616;
            }
            a:hover{
                color: #000;
            }
        }
        .swiper-button-prev-new{
            left: -4%;
        }
        .swiper-button-next-new{
            right: -4%;
        }
        h1{
            padding: 0 10%;
        }
    }
}

@media screen and (max-width: 1570px){
    .reviews{
        .reviews-link{
            font-size: 20px;
            padding: 0 5%;
            a{
                color: #EAE616;
            }
            a:hover{
                color: #000;
            }
        }
        .swiper-button-prev-new{
            left: -4.5%;
        }
        .swiper-button-next-new{
            right: -4.5%;
        }
        h1{
            padding: 0 5%;
        }
    }
}

@media screen and (max-width: 992px){
    .reviews{
        .reviews-link{
            font-size: 20px;
            padding: 0 3%;
            a{
                color: #EAE616;
            }
            a:hover{
                color: #000;
            }
        }
        h1{
            padding: 0 3%;
        }
        .swiper-button-prev-new, .swiper-button-next-new{
            display: none;
        }
        .reviews-slider{
            .swiper-slide{
                display: flex;
                flex-direction: column;
                gap: 15px;
                padding: 20px;
                background-color: white;
                width: 300px;
                height: 300px;
                .profile{
                    display: flex;
                    flex-direction: row;
                    gap: 15px;
                    img{
                        height: 60px;
                        width: auto;
                    }
                    .rank{
                        display: flex;
                        flex-direction: column;
                        strong{
                            font-size: 15px;
                        }
                        svg{
                            width: 16px;
                            height: auto;
                            path{
                                fill: #EAE616;
                            }
                        }
                        p{
                            font-size: 18px;
                        }
                    }
                }
                .review{
                    padding: 20px;
                    font-size: 16px;
                    flex: 1;
                }
            }
        }
    }
}

@media (max-width:1000px) {
    .reviews{
        padding: 0 5%;
        margin-bottom: 50px;
    }
}
@media (max-width:768px) {
    .reviews__title{
        font-size: 35px;
        margin-bottom: 30px;
    }
}