.footer {
  background: #325646;
  padding: 3rem 10%;

  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    margin: 0 auto;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__logo {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 3px;
    margin: 0;
    color: #fff;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 3px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__icon {
    font-size: 0.8rem;
  }

  &__messengers {
    display: flex;
    gap: 0.8rem;
    margin-bottom: 1rem;
  }

  &__messenger-icon {
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: white;
    cursor: pointer;
     transition: transform 0.3s ease;


    &:hover {
      transform: scale(1.1);
    }
  }

  &__phone {
    font-size: 22px;
    font-weight: 200;
    color: #fff;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

// Адаптивность
@media (max-width: 1000px) {
  .footer {
    padding: 2rem 5%;

    &__grid {
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 1.5rem 5%;

    &__grid {
      grid-template-columns: 1fr;
      gap: 1.5rem;
      text-align: center;
    }

    &__messengers {
      justify-content: center;
    }

    &__item {
      justify-content: center;
    }
  }
}