.contacts{
    padding: 0 10%;
    margin-bottom: 100px;

    &__title {
        font-family: var(--montserrat);
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 80px;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        align-items: center;
    }
    &__image {
        width: auto;
        height: 100%;
        overflow: hidden;
        
        img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        
        }
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }

        &:active {
            transform: scale(0.98);
        }
    }

    &__info {
        height: 100%;
        border: 1px solid #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5%;
        gap: 30px;
    }

    &__item{
        h3 {
            font-family: var(--montserrat);
            font-size: 36px;
            font-weight: 500;
            margin: 0 0 8px 0;
            color: #000;
        }

        p {
            font-family: var(--montserrat);
            font-size: 34px;
            font-weight: 300;
            margin: 0;
            color: #000;
            line-height: 1.4;
        }

        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }

        &:active {
            transform: scale(0.98);
        }
    }
    
}

@media (max-width:1100px) {
    .contacts__grid{
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}

@media (max-width:1000px) {
    .contacts{
        padding: 0 5%;
        margin-bottom: 50px;
    }
}


@media (max-width:768px) {
    .contacts__title{
        font-size: 40px;
        margin-bottom: 30px;
    }
}

@media (max-width:450px) {
    .contacts__item{
        h3{
            font-size: 33px;
        }
        p{
            font-size: 25px;
        }
    }
}